html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #121212;
}

/* App wrapper */
.app-root {
  min-height: 100vh;
  background-color: #121212;
}

/* Main layout */
.app-layout {
  display: flex;
  min-height: 100vh;
}

/* Main content */
.app-main {
  background-color: #121212;
  color: #e0e0e0;
}
